{% extends 'clientapp/base.html' %}


{% block title%} {{ title }} {% endblock %}

{% block content %}
    <p class="hello">Здесь собраны все ваши прошлые обращения, помеченные, как "архивные".</p>
    <div class="top-buttons">
        <a href="{% url 'home' %}" class="btn-secondary">Вернуться на главную</a>
    </div>
    <div class="card">
        <h2>Архивные обращения</h2>
        <ul class="calls-list-compact">
            {% if calls %}
                {% for el in calls %}
                    <li class="calls-list-compact__item">
                        <h3><a href="{% url 'call-detail' el.id %}">{{ el.title }}</a></h3>
                        <div class="info-bar">
                            <span class="date mr-05">{{ el.created }}</span>
                            {% if el.status %}
                                <span style="{{ el.status.css_styles }}">{{ el.status }}</span>
                            {% else %}
                                <span class="date">Обращение принято, статус пока не установлен.</span>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            {% else %}
                <p>У вас нет архивных обращений</p>
            {% endif %}
        </ul>
    </div>
{% endblock %}


