{% extends 'clientapp/base.html' %}


{% block title%} {{ title }} {% endblock %}

{% block content %}
    <p class="hello">Рады вас видеть в службе технической поддержки, <b class="color-primary">{{ user.first_name }}</b>. Чем можем помочь?</p>
    <div class="top-buttons">
        <a href="{% url 'new-call' %}" class="btn-primary mr-05">Создать обращение</a>
        <a href="{% url 'calls-archive' %}" class="btn-secondary">Архив</a>
    </div>
    <div class="card">
        <h2>Открытые обращения</h2>
        <ul class="calls-list-compact">
            {% if calls %}
                {% for el in calls %}
                    <li class="calls-list-compact__item">
                        <h3><a href="{% url 'call-detail' el.id %}">{{ el.title }}</a></h3>
                        <div class="info-bar">
                            <span class="date mr-05">{{ el.created }}</span>
                            {% if el.status %}
                                <span style="{{ el.status.css_styles }}">{{ el.status }}</span>
                            {% else %}
                                <span class="date">Обращение принято, статус пока не установлен.</span>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            {% else %}
                <p>У вас нет открытых обращений</p>
            {% endif %}
        </ul>
    </div>
{% endblock %}


